<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263567698786-tvm0ugd0kscm6r300oq5ta931a24e9cg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263567698786-tvm0ugd0kscm6r300oq5ta931a24e9cg</string>
	<key>API_KEY</key>
	<string>AIzaSyB5EqMdnewORUdu_mu61CTKJhCZjPdTP4c</string>
	<key>GCM_SENDER_ID</key>
	<string>263567698786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>money.Expensify2021</string>
	<key>PROJECT_ID</key>
	<string>expensify2021-6a1c4</string>
	<key>STORAGE_BUCKET</key>
	<string>expensify2021-6a1c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263567698786:ios:a504632d56b6562f1a1a3b</string>
</dict>
</plist>